{% extends 'base.html' %}
{% load static %}

{% block title %}
    Service Barberia
{% endblock %}

{% block content %}
    <link rel="stylesheet" type="text/css" href="{% static 'services/css/service.css' %}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.9.1/gsap.min.js"></script>
    <script src={% static 'services/js/service.js' %}></script>

    <div class="card">
        <div class="services-info">
            <img style="max-width: 30%" src="{{MEDIA_URL}}{{ service.service_picture }}" class="profile-picture" alt="Profile Picture">
            <div class="services-price">₴{{ service.price }}</div>
            <div class="text-container">
                <div class="services-text">
                    <strong>{{ service.service_name }}</strong>
                </div>

                <div class="intro">{{ service.intro|safe }}</div>

                <div id="appointment">
                    <a href="{% url 'appointment' %}"><button id="appointment-button">Записатися на послугу</button></a>
                </div>
            </div>
        </div>
    </div>

{% endblock %}